.main-content {
    margin-top: 5vmin;
}

.slider {
    background-color: #424147;
}

.slider-line {
    background-color: black;
    width: 100%;
    margin: 0;
    padding: 0;
    bottom: 0;
}

.slider-line-pics {
    height: inherit;
    width: inherit;
    display: flex;
    justify-content: space-between;
    margin: 0;
    overflow: hidden;
    padding-left: 3vmin;
    padding-right: 3vmin;
}

.slider-line-col {
    position: relative;
    display: inline-block;
    padding: 1px;
}

.slider-line-col:hover:after {
    content: '\A';
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 0, 0.4);
    border: 1px solid yellow;
    position: absolute;
    top: 0;
    left: 0;
}

.slider-line-col {
    cursor: pointer;
}

.project-description {
    width: 97%;
    margin: auto;
    padding-top: 2vmin;
    padding-bottom: 1.5vmin;
    border-bottom: 1px solid #cdcdcd;
}

.project-description-name {
    display: inline-block;
    background-color: #424147;
    color: #ffea00;
    text-transform: uppercase;
    width: 26%;
    text-align: center;
}

.project-description-text {
    padding-top: .8vmin;
    color: #424147;
}

.project-description-text > p {
    line-height: 1.7;
}

.recent-projects {
    width: 97%;
    margin: auto;
    padding-top: 2vmin;
    padding-bottom: 1.5vmin;
}

.recent-projects-name {
    display: inline-block;
    background-color: #424147;
    color: #ffea00;
    text-transform: uppercase;
    width: 26%;
    text-align: center;
}

.recent-projects-pics {
    height: inherit;
    padding-top: 3vmin;
    display: flex;
    justify-content: space-between;
    margin: -15px;
}

.recent-projects-img {
    margin: 0;
    height: inherit;
    cursor: pointer;
}

.recent-projects-col:nth-child(2){
    padding-right: 1vmin;
    padding-left: 1vmin;
}

.sidebar {
    float: right;
}

.project-details {
    background-color: #424147;
    width: 100%;
    margin: 0;
}

.project-details-content {
    padding: 2vmin;
}

.project-details-name {
    margin: 0;
    text-transform: uppercase;
    color: #ffea00;
    padding-bottom: 2.5vmin;
}

.project-details-menu {
    display: flex;
    align-items: flex-start;
    margin: 0;
    padding-bottom: 2vmin;
}

.project-details-pic-col {
    width: 10%;
    padding-right: 1vmin;
}

.project-details-description {
    width: 90%;
    color: white;
    text-transform: uppercase;
}

.popular-posts {
    background-color: #424147;
    width: 100%;
    margin: 0;
    padding-bottom: 2vmin;
}

.popular-posts-main {
    padding: 2vmin;
}

.popular-posts-image {
    padding: 0;
    width: 20%;
}

.popular-posts-info {
    width: 80%;
}

.popular-posts-name {
    margin: 0;
    color: #ffea00;
    text-transform: uppercase;
    padding-bottom: 2.5vmin;
}

.popular-posts-item {
    margin: 0;
}

.popular-posts-text {
    margin: 0;
    color: white;
    text-transform: uppercase;
    width: 100%;
}

.popular-posts-date {
    margin: 0;
    color: #ffea00;
    width: 100%;
    text-align: right;
}

.tags {
    background-color: #424147;
    width: 100%;
    margin: 0;
}